* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {background-color: #443e3e;}

.div-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

button, select {
    background-color: #79cb15;
    border: none;
    border-radius: 5px;
    color: #000000;
    padding: 10px;
    font-weight: bold;
    width: auto;
    cursor: pointer;
}

button:hover {opacity: 0.8;}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 5rem;
}

ul {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.cell-phones {
    grid-column: 1 / 4;
    height: 25rem;
    border-radius: 5px;
}

li {
    border: 5px solid red;
    padding: 5px;
}

img {
    width: 100%;
    height: 13rem;
}

p {color: #ffffff;}

.item-price {
    font-weight: bold;
    color: #79cb15;
}

.total-value {grid-column: 2;}